<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.global.ex.mapper.UserMapper">
    <!--mapper 경로 잘찾으셈-->
    <!-- CDATA 안에 있는 SQL 문에다가 세미콜론 붙이면 골로간다. -->
    <resultMap id="userMap" type="UserVO">
        <!--id primary key-->
        <id property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="enabled" column="enabled"/>
        <!--collection -> 객체 -->
        <collection property="authList" resultMap="authMap"></collection>
    </resultMap>

    <resultMap id="authMap" type="AuthVO">
        <result property="username" column="username"/>
        <result property="authority" column="authority"/>
    </resultMap>

    <select id="getUser" resultMap="userMap">
       <![CDATA[
        select * from users , authorities
        where users.username = authorities.username and users.username = #{username}
        ]]>
    </select>
</mapper>