<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.global.ex.mapper.BoardMapper">
    <!-- CDATA 안에 있는 SQL 문에다가 세미콜론 붙이면 골로간다. -->
    <select id="getList" resultType="BoardVO">
        <![CDATA[
            SELECT * FROM MVC_BOARD ORDER BY BGROUP DESC, BSTEP ASC
        ]]>
    </select>
    <!-- mybatis.type-aliases-package=edu.global.ex.vo -->
    <select id="read" resultType="BoardVO">
        <![CDATA[
            SELECT * FROM MVC_BOARD WHERE BID = #{bid}
        ]]>
    </select>

    <insert id="insert">      <!--"" 안에는 개발자가 직접 넣는 것이다. (함수명)-->
        <![CDATA[
              INSERT INTO MVC_BOARD (BID, BNAME, BTITLE, BCONTENT, BHIT, BGROUP, BSTEP, BINDENT)
              VALUES (mvc_board_seq.nextval, #{bname}, #{btitle}, #{bcontent}, 0, mvc_board_seq.currval, 0, 0)
        ]]>
    </insert>

    <delete id="delete">
        <![CDATA[
              DELETE FROM MVC_BOARD WHERE BID = #{bid}
        ]]>
    </delete>

    <!--댓글을 하나씩 미뤄서 정렬을 해줘야 하기 때문에
      세로 정렬을 bstep에 +1로 한칸씩 미뤄내줘야한다. -->
    <update id="updateShape">
        <![CDATA[
          update mvc_board set bstep = bstep + 1 where bgroup =#{bgroup} and bstep > #{bstep}
      ]]>
    </update>

    <insert id="insertReply" >
        <![CDATA[
         insert into mvc_board (bid, bname, btitle, bcontent, bgroup, bstep, bindent)
         values (mvc_board_seq.nextval, #{bname}, #{btitle},#{bcontent},
                   #{bgroup}, #{bstep}+1, #{bindent}+1)
      ]]>
    </insert>

    <select id="getTotalCount" resultType="int">
         <![CDATA[
        select count(*) from mvc_board
        ]]>
    </select>

    <select id="getListWithPaging" resultType="BoardVO">
      <![CDATA[
        SELECT * FROM (
            SELECT ROWNUM AS RNUM, A.* FROM (
                SELECT *
                FROM
                    mvc_board
                order by bGroup desc, bStep asc
                ) A WHERE ROWNUM <= #{pageNum} * #{amount}
      ) WHERE RNUM > (#{pageNum}-1) * #{amount}
        ]]>
   </select>


</mapper>